.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.inner-container {
    @extend .container;
    padding: 36px 24px 12px;
    flex-direction: column;
}

.scrollable {
    overflow-y: auto;
}

.empty-state {
    @extend .container;
    align-items: center;
    justify-content: center;
}

.toolbar {
    justify-content: space-between;
}